.user {
   display: flex;
   margin: 20px;
}

.discriptionUser {
   display: grid;
   grid-template-areas: 'A B'
      'C D';
   border: 2px solid rgb(179, 179, 179);
   border-radius: 10px;
}

.fullname {
   grid-area: A;
   margin: 10px;
}

.status {
   grid-area: C;
   margin: 10px;
}

.city {
   grid-area: B;
   margin: 10px;
}

.country {
   grid-area: D;
   margin: 10px;
}

.avatar {
   width: 100px;
   height: 100px;
}