.nav {
   grid-area: n;
   background-color: #f4e4a9;
   padding-left: 15px;
   padding-top: 15px;
}

.item {
   color:#7d43bb;
}

.item a.active {
   color: #f1f2f4;
   text-shadow: 1px 1px 3px #7e47be;
}

a {
   text-decoration: none;
}

.friendsWrapper {
   display: flex;
   flex-direction: column;
}

.friends {
   display: flex;
}