.gialogs {
   background-color: #f1f3f2;
   display: grid;
   grid-template-columns: 2fr 10fr;
   color: #865c02;
}

.dialog_item {
   padding: 10px;
}

.dialog_item .active {
}

.messages {
   padding: 10px;
}

.message {

}

a {
   text-decoration: none;
}

a:visited {
   color: #865c02;
}